@import url('./tailwind.css');

html {
    @apply text-raisin-black;
    font-family: 'Roboto', sans-serif;
}

@color-raisin-black: #221D23;
@color-cafe-noir: #4F3824;
@color-bittersweet: #FB7B64;
@color-bittersweet-hover: #FF9A7D;
@color-bittersweet-pressed: #C86250;
@color-gold-metallic: #DDB967;
@color-yellow-green-crayola: #D0E37F;
@color-almost-white: #FEFEFE;